*
  margin 0
  padding 0

#map-full-screen
  width 100%
  height 100vh

.control-info
  width 25%
  position absolute
  z-index 1


.control-info-frame
  right 0
  position absolute
  z-index 1
  border 1px #C4C4C4 solid
  border-radius 3px
  background-color white
  margin 10px 10px
  padding 20px
  border-radius 5px
  width 280px

.alert-info-frame
  right 0
  position absolute
  z-index 1
  border-radius 3px
  background-color black
  opacity 0.6
  color white
  margin 20px 10px
  padding 20px
  border-radius 5px
  width 280px

.input-layout
  display flex
  flex-direction row
  align-items center
  margin-bottom 10px

.input-button-layout
  width 60%
  display flex
  justify-content space-between

.function_control
  top 50vh
  height 5vh
  width 3vh
  background-color #2DCFBC
  border none
  border-radius 5px
  background-repeat no-repeat
  background-size 1.5vh
  background-position center center
  position fixed
  display flex
  align-items center

#function_click
  position fixed
  left -400px 
  display flex
  align-items center
  transition left 0.5s

#function_list_control
  overflow auto
  height 95vh
  width 330px
  background-color white
  border-color #2DCFBC
  border-width 3px
  border-radius 10px
  border-style solid
  padding 15px 20px

#function_click
  position fixed
  left -100vw 
  display flex
  align-items center
  transition left 0.5s

#function_open
  margin-top 0
  margin-left 375px

.divider
  border-bottom 1px solid #c4c4c4
  margin 30px 0px
  width 100%

.drawer-label
  color: gray
  font-size 12px
  margin-bottom 15px